{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <form action="{% url 'login_view' %}" method="POST">
        {% csrf_token %}

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <input type="submit" value="login" name="submit">
        </div>
        <a href="{% url 'register' %}">Create a new account</a>
        {% if error %}
            <p>{{error}}</p>
        {% endif %}
    </form>

</body>
</html>